* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: 'Montserrat', sans-serif;
}

.container-header {
    width: 100%;
    margin: 0 auto;
}

.black-bg {
    background-color: rgb(27, 27, 27);
}